
body {
    
    background:  url(https://image.freepik.com/free-psd/white-wood-texture-background-design_1022-75.jpg);
  }
  
  /* general */
  #masthead {
    position: fixed;
    z-index: 99;
    width: 90%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }
  #logo {
    float: left;
    width: 36%;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }
  
  h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
  }
  h1, {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  a {
    float: right;
    color:#999;
    font-size: 16px;
    padding:3px;
  }
  h2,
  h3 {
    font-size: 22px;
  }
  .container {
    width: 100%;
    max-width: 960px;
    margin: 3 auto;
    clear: both;
  }

  /* footer */
  footer {
    background-color: #666666;
    height: 30px;
    margin-top: 60px;
    border-top: solid 2px;
    border-top-color: #4aaaa5;
    justify-content: center;
    text-align: center;
    text-anchor: middle;
    display:flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    align-items:center;
  }
  /* sidebar */
  .sidebar {
      float: right;
      width: 100%;
      max-width: 28%;
      padding: 40px;
      margin-bottom: 20px;
      background: #fff;
      border: 1px solid #ddd;
      align-content: center;
      text-align: center;
  }
  h3,
  .sidebar h2 {
    padding-bottom: 10px;
    margin-bottom: 25px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }
  .Git {
    padding: 5px;
    margin: 2px;
    float: left;
}
.LinkdIn {
    padding: 5px;
    margin: 2px;
    float: left;
}
.SlackOverflow {
    padding: 5px;
    margin: 2px;
    float: left;
}
.social {
  width: 72px;
  height: 72px;
  margin-top: 15px;
  margin-right: 5px;
  }
  .social:last-child {
    margin-right: 0;
  }
  /* main */
  #main-container {
    padding-top: 130px;
  }
  .main-section {
    float: left;
    width: 100%;
    max-width: 68%;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
  }
  /* portfolio page */
  .work {
    position: relative;
    float: left;
    width: 150px;
    margin: 10px 0 15px;
    overflow: auto;
  }
  .work:nth-child(even) {
    margin-right: 40px;
  }
  .work img {
    width: 80%;
    border: 0 none;
    opacity: 0.8;
  }
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 80%;
    padding: 5px;
    margin: 0px;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  /* contact page */
  #contact-form ul {
    margin-bottom: 10px;
  }
  #contact-form li {
    margin-bottom: 10px;
  }
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  textarea {
    height: 100px;
  }
  footer {
    background-color: #666666;
    height: 30px;
    margin-top: 60px;
    border-top: solid 2px;
    border-top-color: #4aaaa5;
    justify-content: center;
    text-align: center;
    text-anchor: middle;
    display:flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    align-items:center;
}
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }